<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLySanXuat"
        tools:targetApi="31">

        <activity
            android:name="com.example.Activities.ResourceActivity"
            android:exported="true" />
        <activity
            android:name="com.example.Activities.PrimaryUnitsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.Activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.example.Activities.SignupActivity"
            android:exported="true" />
        <activity
            android:name="com.example.Activities.MaterialActivity"
            android:exported="true" />
        <activity
            android:name="com.example.Activities.MaterialTypeActivity"
            android:exported="true" />
        <activity
            android:name="com.example.Activities.ProductActivity"
            android:exported="true" />
        <activity
            android:name="com.example.Activities.AddMaterialActivity"
            android:exported="true" />
        <activity android:name="com.example.Activities.AddMaterialType"
            android:exported="true"/>
        <activity android:name="com.example.Activities.AddPrimaryUnit"
            android:exported="true"/>
        <activity android:name="com.example.Activities.AddProduct"
            android:exported="true"/>
        <activity android:name="com.example.Activities.AddResource"
            android:exported="true"/>
        <activity android:name="com.example.Activities.DetailMaterialActivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.DetailMaterialTypeActivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.DetailPrimaryUnitActivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.DetailProductActivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.DetailResourceActivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.EditMaterialActivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.EditMaterialTypeActvity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.EditPrimaryUnitActivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.EditProductAvtivity"
            android:exported="true"/>
        <activity android:name="com.example.Activities.EditResourceActivity"
            android:exported="true"/>
        <activity
            android:name="com.example.Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>